*{
    background-color: rgb(243, 243, 243);
    margin: 0px;
}

#menuSuperior{
  margin-top: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  height: 70px;
  font-size: 20px;
  overflow: hidden;
  background-color: #333;
  padding-left: 150px;
  padding-top: 10px;
}

li{
  float:left;
}

li a {
  display: block;
  color: rgba(0, 168, 89, 1);
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
  background-color: #333;
  width: 150px;
  height: 70px;
}

li a:hover:not(.home-menu-supeior) {
  background-color: rgb(14, 194, 110);
  color: white;
}

.home-menu-supeior{
  color: rgba(0, 168, 89, 1);
}

.home-menu-supeior:hover {
  color: white;
  background-color: rgb(14, 194, 110);
}

#banner{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 25px;
    display: grid;
    place-items: center;
    text-align: center;
    grid-auto-flow: column;
    text-align:left;
    margin-top: 0;
    height: 300px;
    background-color: rgba(0, 168, 89, 1);
   /* 
    background-position: bottom;
    background-size: cover;
    background-image: url(./imagens/Imagem-Piscina.jpg);
    */

  }

#iconeMenu{
    background-color: transparent;
}

#textoMenu{
    color: white;
    background-color: transparent;
}

#menuInformativo{
    margin-top: 100px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    
}

#imagemInformativo{
    margin-left: 10%;
}

p{
  font-size: 20px;
}

#wrapper {
  width: auto;
  height: 300px;
  background-color: rgba(0, 168, 89, 1);
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 100px;
}

#carousel {
  display: grid;
  place-items: center;
  text-align: center;
  width: 70%;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 250px;
  background-color: transparent;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

.setaButton{
  width: 120px;
  height: 70px;
  background-color: transparent;
}

.setaButton:hover {
  cursor: pointer;
  background-color: rgb(16, 230, 130);
  transition-duration: 0,5s;
  transform: translateY(-5px);
  border-radius: 100%;
  color: white;
  box-shadow: 3px 5px rgba(39, 39, 39, 0.226);
}

#prev, #next {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  margin-left: 70px;
  margin-right: 70px;
  outline: 0;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: transparent;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  width: auto;
  height: 180px;
  background-color: transparent;
}

.item {
  width: 500px;
  height: 160px;
  border-radius: 10px;
  background-color: transparent;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px; 
}

.carrousel-cervejas {
  
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 0;
  
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}


#footer{
    margin-top: 100px;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    width: auto;
    height: 200px;
    background-color: rgba(0, 168, 89, 1);
  }

.texto-footer{
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  place-items: center;
  font-size: 20px;
  width: 40%;
  background-color: transparent;
}

#formulario{
  margin-top: 50px;
  text-align: center;
}

#titulo-formulario{
  margin-bottom: 40px;
}

input{
  width: 350px;
  height: 50px;
  margin: 12px;
  border-color: black;  
  border-radius: 5px;
  padding-left: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 0px;
}

.buttonFormulario{
  margin-top: 30px;
  width: 250px;
  height: 40px;
  border: 0px;
  background-color: rgba(0, 168, 89, 1);
  color: rgba(255, 255, 255, 0.904);
  border-radius: 5px;
}

.buttonFormulario:hover{
  cursor: pointer;
  background-color: rgb(16, 230, 130);
  transition-duration: 0,5s;
  transform: translateY(-5px);
  color: white;
  box-shadow: 3px 5px rgba(39, 39, 39, 0.226);
}